@model HeaderCartViewModel

<div class="header-cart">
    <a class="icon-cart-furniture" href="#">
        <i class="ti-shopping-cart"></i>
        <span class="shop-count-furniture green cart-item-count">
            @Model.TotalItems.ToString("00")
        </span>
    </a>
    <ul class="cart-dropdown">
        @if (Model.TotalItems == 0)
        {
            <li class="my-5 text-center">
                <h5>Your cart is empty.</h5>
            </li>
        }

        @foreach (var item in Model.BasketItems)
        {
            <li class="single-product-cart">
                <div class="cart-img">
                    <a href="#"><img src="~/assets/img/cart/1.jpg" alt=""></a>
                </div>
                <div class="cart-title">
                    <h5><a href="#"> @item.ProductName</a></h5>
                    <span>@item.UnitPrice.ToString("0.00")₺ x @item.Quantity</span>
                </div>
                <div class="cart-delete">
                    <a href="#" data-remove-from-basket-id="@item.ProductId"><i class="ti-trash"></i></a>
                </div>
            </li>
        }

        <li class="cart-space">
            <div class="cart-sub">
                <h4>Subtotal</h4>
            </div>
            <div class="cart-price">
                <h4>@Model.TotalPrice.ToString("0.00")₺</h4>
            </div>
        </li>
        <li class="cart-btn-wrapper">
            <a class="cart-btn btn-hover" href="#">view cart</a>
            <a class="cart-btn btn-hover" href="#">checkout</a>
        </li>
    </ul>
</div>